
*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
/* height: -webkit-fill-available;  to make 100vh look good on mobile*/
font-size: 62.5%;
width: 100%;
}

body {
/* min-height: -webkit-fill-available; to make 100vh look good on mobile*/
min-height: 100vh;
width: 100%;
line-height: 1.5;
font-size: 2rem;
border: 2px red solid;
display: flex;
justify-content: center;
align-items: flex-start;
}
